/*GENERALES*/
@font-face {
font-family: cinzelbold;
src: url(../fonts/cinzelbold.ttf);
}
@font-face {
font-family: cinzelregular;
src: url(../fonts/cinzelregular.ttf);
}
@font-face {
font-family: frederick;
src: url(../fonts/frederick.ttf);
}
@font-face {
font-family: grupporegular;
src: url(../fonts/grupporegular.ttf);
}
@font-face {
font-family: racingsansoneregular;
src: url(../fonts/racingsansoneregular.ttf);
}
@font-face {
font-family: shadowsIntolighttworegular;
src: url(../fonts/shadowsIntolighttworegular.ttf);
}


*{
    padding: 0px;
    margin: 0px;
    font-family: grupporegular;
}

body{
    background: url('../img/patron2.jpg');
}

a{
    color:black;
}



a:hover{
    color:#555555;
}

.alert_green{
    color:green;
}

.alert_red{
    color:red;
}

.table-content{
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
}
.tableC{
    text-align: center;
    border-bottom: 1px solid #ccc;
    min-width: 660px;   
    margin: auto;
   }



td{
   border-top: 1px solid #ccc; 
   padding: 2px;
}

.thumb{
    width: 200px;
}

/*CONTAINER*/
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}


/*HEADER*/

#header{
    height: 145px;
    background:  linear-gradient(138deg, rgba(255,255,255,1) 44%, rgba(0,0,0,1) 100%);
}

#logo{
    padding: 10px;
    margin-left: 20px;
}

#logo .logo{
    width: 150px;
    float: left;
}

#logo .title{
    width: 200px;
    float: left;
    margin-top: 31px;
}



#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA; 
}

/*MENU*/

#menu{
    clear: both;
    background: white;
    color: black;
    min-height: 30px;
    height: content-box;
    border-bottom: 4px solid black;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 30px;
    float: left;
    
    font-weight: bold;
}

#menu a{
    font-family: cinzelbold;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

/*solo aplica al primer elemento de la lista*/
/*
#menu a:first-child{  
    border-left: 1px solid #363636;
}
*/
#menu a:hover{
    background: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
}

/*CONTENT*/
#content{
    margin: 0px auto;
    /*overflow: hidden;*/
    background: white;
}

/*BARRA LATERAL*/
#lateral{
    width: 18%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    /*border: 1px solid red;*/
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    /*border: 1px solid black;*/
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-family: cinzelbold;
    font-size: 16px;
    font-weight: bold;
    background: white;
    border-bottom: 2px solid black;
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

/*FORMS*/

.form_container{
    width: 50%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,textarea{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,textarea{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input [type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 10px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: black;
    border: 1px solid black;
    cursor: pointer;
    font-family: grupporegular;
    font-size: 15px;
    color: white;
        
}

.buttonInd{
    display: block;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: black;
    border: 1px solid black;
    cursor: pointer;
    font-family: grupporegular;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

label{
    font-family: grupporegular;
    font-size: 15px;
    font-weight: bold; 
}

table tr, table th, table td{
    font-family: grupporegular;
    font-size: 18px;
    font-weight: bold; 
}

table td a{
    text-decoration: none;
    color: red;
}
.button{
    background: black;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white !important;
}

.product .button:hover{
    background: #0ec5d8;
    color: black !important;
}

.buttonInd:hover, .button-create:hover{
    background: #0ec5d8;
    font-weight: bold;
    color: black !important;
}

.button-create:hover{
    background: black;
    font-weight: bold;
    color: white !important;
}



label,
input [type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;
}

.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
    
}

.button-gestion{
    width: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    background: #0ec5d8;
    color: white;
    border: none;
}
.button-red{
    background: red;
    border: none;
    color: white;
}

/*CENTRAL*/
#central{
    width: 75%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1{
    font-size: 40px;
    font-weight: bold;
    font-family: grupporegular;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
        
}


/*PRODUCTOS*/

.global{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 30%;
    min-width: 240px;
    float: left;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    
}

.product a{
    color: black;
    text-decoration: none;
}

.product a:hover{
    color: #555;
}

#carrito ul li,
#login ul li{
    list-style: none;
}

#carrito ul li a,
#login ul li a{
    text-decoration: none;
    font-family: grupporegular;
}


.product img{
    height: 200px;
    margin-bottom: 10px;
}

.img_carrito{
    height: 110px;
    display: block;
    margin: 10px auto;
}

.product h2{
    font-size: 23px;
    margin-bottom: 10px;
    font-family: grupporegular;
    
}
.product p{
    font-weight: bold;
    color: #555;
   margin-bottom: 10px;
   font-family: grupporegular;
}

#detail-product{
    width: 100%;
}

#detail-product .image{
    display: block;
    width: 47%;
    float: left;
   
}

#detail-product img{
    display: block;
    width: 100%;
    float: left;
}

#detail-product .data{
    width: 50%;
    float: right;
}

#detail-product .description{
    margin-bottom: 10px;
}

#detail-product .price{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

#detail-product .button{
    width: 200px;
    text-align: center;
}




/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: black;
    text-align: right;
    padding-right: 20px;
}

/*CARRITO*/
.delete-carrito{
    width: 295px;
    float: left;
    margin-top: 10px;
   
}

.button-delete{
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    float: left;
}

.button-carrito{
    width: 150px;
    margin: 0px auto;
    text-align: center;
    font-size: 13px
    
}

.total-carrito{
    width: 350px;
    min-width: 350px;
    float: right;
    margin-top: 10px
        
   
}
.total-carrito h3{
    display: block;
    margin-top: 5px;
    float: left;
    
}
.button-create{
    display: block;
    float: right;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #0ec5d8;
    cursor: pointer;
    font-family: grupporegular;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: center;
}



.updown-unidades{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 

.updown-unidades .button{
    display: inline-block;
    width: 20px;
    float: left;
    padding: 0px;
    margin: 3px auto;
    background: white;
    color: black !important;
    
}


@media screen and (max-width: 1115px){
    
    #header{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 0px;
    }

    #logo .logo{
        width: 150px;
        margin: 0px;
        padding: 0px;
        clear: both;
    }

    #logo .title{
        width: 200px;
        margin: 0px;
        padding: 0px;
        clear: both;
        
    }
    
    #logo a{
        margin: 0px;
         clear: both;
    }
    
    #menu{
    clear: both;
    height: content-box;
    border-bottom: 4px solid black;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    
    }
    
  

}
@media screen and (max-width: 1115px){

    #lateral{
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        /*border: 1px solid red;*/
    }
    
    #lateral .block_aside{
        width: 200px;
        padding: 10px;
        margin: 0px auto;
        /*border: 1px solid black;*/
    }
    
    #central{
        width: 100%;
        padding: 0px
    }
    
    .button-create{
        margin-right: 20px;
    }



}

@media screen and (max-width: 823px){
    .delete-carrito{
        float: none;
        margin: 20px auto;
    }
    .delete-carrito a{
        margin: auto;
        
    }
   
    .total-carrito{
        display: flex;
        flex-direction: column;
        float: none;
        margin: 0px auto;
        text-align: center;
        justify-content: center;
        
    }
    .button-create{
        margin: 10px auto;
    }
    
    
    
}


@media screen and (max-width: 585px){
    
    .data{
        text-align: center;
    }
    
    #detail-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .data .buttonInd{
        width: 150px;
        text-decoration: none;
        text-align: center;
        
    }
    
    
}